{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	<meta name="robots" content="noindex" />
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
<style>
	body { background: #efefef; margin: 5%; }
	h4 { color: #545b62; }
	.sub_height { line-height: 2%; }
	.height { line-height: 800%; }
	.notes { padding-top: 7%; }
</style>
{% endblock %}

{% block title %}
	URL Shortener
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
				<h1>Private owned URL Shortener</h1>
				<span class="sub_height">
					<h4>
						Using SQLCipher, Flask, and SimpleLogin
					</h4>
					<h6>
						By: <a href="/pgp/" target="_blank">Andrew Barrientos</a> <span style="color:red;"> *</span>
						<br />
						<a href="/contact/" style="color:green;">Contact me</a><span style="color:red;"> **</span>
					</h6>
				</span>
				<a href="/urls/" target="_self" class="height">control panel</a>
				<div class="notes">
					<span style="color:red;">*</span> - All non-encrypted emails will be automatically deleted
					<br />
					<span style="color:red;">**</span> - Use this instead if you don't know what PGP is. I may not be able to reply.</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}