{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	<meta name="robots" content="noindex" />
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
<style>
	body { background: #efefef; margin: 5%; }
	.subtitle { color: #545b62; }
	.sub_height { line-height: 2%; }
	.height { margin: 8% 0 8% 0; }
	.notes { padding-top: 7%; }
</style>
{% endblock %}

{% block title %}
	URL Shortener
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
				<h1>Private owned URL Shortener</h1>
				<span class="sub_height">
					<h5 class="subtitle">
						Using MongoDB, Flask, and SimpleLogin in <a href="https://replit.com/@ddotb/reloctk" style="color:darkcyan">Replit</a>
					</h5>
					<h6>
						By: <a href="/pgp/" target="_blank">Andrew Barrientos</a> <span style="color:red;"> *</span>
						<br />
						<a href="/contact/" style="color:#0B0;">Contact me</a><span style="color:red;"> **</span>
					</h6>
				</span>
				<div class="height">
					<a href="/urls/" target="_self" class="btn btn-primary">control panel<span style="color:red;"> ***</span></a>
					<br />
					<a href="/register/">register</a><span style="color:red;"> ***</span>
				</div>
				<div class="notes">
					<strong class="subtitle">NOTES:</strong>
					<br />
					<div style="padding-left:1em;">
						<span style="color:red;">*</span> - All non-encrypted emails will be automatically deleted
						<br />
						<span style="color:red;">**</span> - I may not be able to reply.</span>
						<br />
						<span style="color:red;">***</span> Minor monitoring for debugging. (Deleted every restart)</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}